#chart {
  background-color: gold;
  width:800px;
  height:600px;
  position:relative;
  margin-top:30px;
}

h4 {
  float: left;
  padding: 10px;
  margin-bottom: 20px;
}
.bar {
  background-color: black;
  text-align:left;
  position: absolute;
}

* {
  border: 1px solid green;
}