#chart {
  background-color: orange;
  padding:5px;
  float:left;
  width:;
}

.bar {
  background-color: black;
  height: 30px;
  border:1px solid black;
  text-align:left;
  margin-right:5px;
  margin-top: 6px;
  margin-bottom:0px;
}
/*madeShots {
    background-color: steelblue;
    height:30px;
    position: relative;
    top:0px;
    float:left;
}*/